* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   }

   body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.80),rgba(0, 0, 0, 0.80)),url(../img/back.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
   }
   
   a {
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
   }
   
   .container{
    max-width: 1024px;
    margin: auto;
    color :rgb(189, 186, 186)
   }
   
   .nav-brand{
    font-size: 1.5em;
    font-weight: bold;
   }
   
   .d-flex{
    display: flex;
    flex-wrap: wrap;
   }
   
   .justify-between{
    justify-content: space-between;
   }
   
   .text-center{
    text-align: center;
   }
   
   .border-shadow{
    border: 1px solid var(--border-btn);
    box-shadow: 1px 3px 10px #7c7e80;
    border-radius: 30px;

   }
   
   .text-dark{
    color: var(--dark);
   }
   

   .inline{
    display: inline-block;
   }
   
   .text-light{
    color: var(--light);
   }
   
   .text-gradient{
    background: linear-gradient(to right, #f8f8f8, #b3a9a9);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
   }
   
   #header nav{
    background-color: #e7e7e72f;
    padding: 1em 0;
    width: 100%;
    border-radius: 40px;


   }
   
   #site-main{
    margin-top: 6em;
    font-family: 'Barlow', sans-serif;
   }
   
   #site-main .container .box-nav > a{
    font-size: 1em;
    padding: .5em 1em;
   }
   
   #site-main .container form{
    margin: 2em 0;
   }
   
   table{
    border-spacing: 0px;
    width: 100%;

   }
   
   .table td, .table th{
    padding: .75em;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid var(--border);
    border-radius: 30px;

   }
   
   .table td > a.btn{
    padding: .3em 1em;
    font-size: 1.1em;
    margin: 0 .2em;
   }
   
   .table tr:hover td > a{
    box-shadow: none;
    border-radius: 30px;

   }
   
   .table .thead-dark th{
    color: rgb(255, 255, 255);
    background-color: var(--dark) ;
    border-color: #ffffff;
   }
   .data
   {
       color: whitesmoke;
   }
   @media only screen and (max-width: 1024px){
    table, thead, tbody, th, td, tr{
        display: block;
    }

    thead tr{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid var(--border);}

    td{
        border: none;
        position: relative;
    }

}

form-title{
    margin-top: 2em;
}

.form-title > h2{
    padding: .5em 0;
}

.new_log{
    max-width: 786px;
    margin: auto;
}

#update .form-group,
#addlogs  .form-group{
    margin: .4em 0;
}

#update .form-group input[type="text"],
#addlogs.form-group input[type="text"]{
    width: 100%;
    padding: .6em 1em;
    margin: .5em 0;
    border: 1px solid var(--border);
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
    border-radius:30px ;
}

#update .form-group,
#addlogs .form-group{
    margin: 1em 2em;
}


#update .form-group .btn,
#addlogs .form-group .btn{
    width: 100%;
    padding: .9em 1em;
    background-color:#296dbb9a; 
    border: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 2em;
    cursor: pointer;
    border-radius: 30px;
    margin: .5em 0;
}

#update .form-group .btn:hover,
#addlogs  .form-group .btn:hover{
    background-color: var(--dark);
    color: var(--border);
}


#navbar{
   padding-right: 20px;
   max-width: 1024px;
   margin: auto;
   color: white;
}