<!-- include header -->
<%- include('include/header') %>
<!-- /include header -->
<!-- main  part of the webpage  -->
<main id="site-main">
    <div class="container">
        <div class="d-flex justify-between">
            <div class="filter">
                <a href="/">All Logs</a>
            </div>
        </div>
        <div class="form-title text-center">
            <span class="text">Add the new payment log here </span>
        </div>
        <%- include('include/form') %>    
    </div>
</main>





<!-- include footer -->
<%- include('include/footer') %>
<!-- /include footer —>