<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>DATABASE</title>
</head>
<body>
    <!-- Header -->
    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/" class="nav-brand text-dark">DATABASE</a>
                </div>
            </div>
        </nav>
    </header>
<!-- /Header -->
<!-- main  part of the webpage  -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <a href="/add-user" class="border-shadow">
                <span class="text-gradient">New User</span>
            </a>
        </div>

        <!-- data entry from  -->
        <form action="/" method="POST">
            <table class="display table" id="myTable">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Price</th>
                        <th>Payment type</th>
                        <th>Reason of payment </th>
                        <th> recived by </th>
                        <th> action  </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>john</td>
                        <td>1st dec 2021</td>
                        <td>15 gdp </td>
                        <td> card </td>
                        <td> Rikin </td>
                        <td>
                            <a href="#" class="btn border-shadow update">
                                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                            </a>
                            <a id="deleteIcon" class="btn border-shadow delete">
                                <span class="text-gradient"><i class="fas fa-times"></i></span>
                            </a>
                        </td>
                    </tr>     
                </tbody>
            </table>
        </form>
    </div>
</main>
</body>
</html>