<!-- include header -->
<%- include('include/header') %>
<!-- /include header -->
<!-- main  part of the webpage  -->
<main id="site-main">
  <div class="container">
        <div class="box-nav d-flex justify-between">
            <a href="/addlogs" class="border-shadow">
                <span class="text-gradient"> Add log </span>
            </a>
        </div>


        <!-- data entry from  -->
        <form action="/" method="POST">
            <table class="display table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Price</th>
                        <th>Payment type</th>
                        <th>Reason of payment </th>
                        <th> recived by </th>
                        <th>change</th>
                    </tr>
                </thead>
                <tbody class=" data ">
                    <%- include('include/display') %>
                </tbody>
            </table>
        </form>
    </div>
</main>

<!-- /main  part of the webpage  -->
<!-- include footer -->
    <%- include('include/footer') %>
<!-- /include footer —>