<tr>
    <td>1</td>
    <td>john</td>
    <td>1st dec 2021</td>
    <td>15 gdp </td>
    <td> card </td>
    <td> paper bill </td>
    <td> Rikin </td>
    <td>
        <a href="/updatelogs" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt">Update</i></span>
        </a>
        <a href="deleteIcon" class="btn border-shadow delete">
            <span class="text-gradient"><i class="fas fa-times">Remove</i></span>
        </a>
    </td>
</tr>     