<form method="POST" action = "/addlogs" id="update">
    <div class="new_log ">
        <div class="form-group">
            <label for="log_ID" class="text"> ID</label>
            <input type="text" name="log_ID" value="">
        </div>
        <div class="form-group">
            <label for="Name" class="text"> Name</label>
            <input type="text" name="name" value="">
        </div>
        <div class="form-group">
            <label for="price" class="text">Price</label>
            <input type="text" name="price" value="">
        </div>
        <div class="form-group">
            <label for="date" class="text">date</label>
            <input type="text" name="date" value="">
        </div>
        <div class="form-group">
            <label for="Paymenttype" class="text">Payemnt type</label>
            <input type="text" name="paymenttype" value="">
        </div>
        <div class="form-group">
            <label for="Reasonofpayment " class="text">Reason of payment </label>
            <input type="text" name="reasonofpayment" value="">
        </div>
        <div class="form-group">
            <label for="paidwith" class="text">paid with </label>
            <input type="text" name="paidwith" value="">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>